* {
    // border: .1px solid black;
    margin: 0px;
    box-sizing: border-box;
}

#body-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
}

#box-1 {
        
}

#box-2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: rgb(27, 27, 27);
    .tb-button {
        margin: 5px 0px;
        height: 35px;
        color: white;
        background-color: transparent;
    }
}

.callout {
    padding: 8px;
    display: flex;
    div {
        color: lightgrey;
        padding-right: 8px;
        cursor: pointer;
    }
    input {
        border: none;
        flex: 3;
        &:Hover {
            border-bottom: lightgrey;
        }
    }
    &:Hover {
        border-radius: 3px;
        border: 1px solid black;
    }
    &:Focus {
        border: 1px solid black;
    }
    *:focus {
        outline: none;
    }
}
#sketch-container {
    height: 100vh;
    margin: 0px 40px;
    border: .5px solid black;
}

//Style form container
#sf-container {
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    // background-color: lightcyan;
    height: 140px;
    #row-1 {
        height: 50px;
        display: flex;
    }
    #row-2 {
        display: flex;
        height: 50px;
    }
    #row-3 {
        display: flex;
        height: 50px;
    }
    label {
        font-size: 11px;
    }
}

#line {
    cursor: pointer;
    margin: 5px 0px;
    width: 200px;
    height: 1px;
    background-color: red;
}
