$black-bg: #111111;
$black-2: #17151b;
$slate: #2f2d31;
$orchid: #ba84fb;
$orchid-op: transparentize($orchid, 0.8);
$ochard-hover: transparentize($orchid, 0.9);

* {
    // border: .1px solid black;
    margin: 0px;
    box-sizing: border-box;
}

#logo {
    text-align: center;
    color: white;
    font-family: roboto;
    font-weight: 400;
    padding-bottom: 15px;
}


.input-file {  
        padding-top: 20px;
        font-size: 11px;
        color: white;
        display: inline-block;
}


#body-grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 3fr 1fr;
}

#box-1 {
        
}

#box-2 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: rgb(27, 27, 27);
    .tb-button {
        font-size: 11px;
        margin: 5px 0px;
        height: 40px;
        color: rgb(221, 221, 221);
        background-color: $black-bg;
        border: 1px solid $slate;
        &:hover {
          border: .75px solid rgba(235, 235, 235, 0.815);
          background-color: $ochard-hover;
         }
        &:active {
          background-color: $orchid;
          color: white;
        }
        &:focus {
            outline: none;
        }
    }
}

.callout {
    padding: 8px;
    display: flex;
    position: absolute;
    &:Hover {
        background-color: $orchid-op;
        border-radius: 3px;
        border: 1px solid $orchid;
    }
    &:Focus {
        border: 1px solid black;
    }
    *:active {
        outline: none;
    }

    div {
        color: lightgrey;
        padding-right: 8px;
        cursor: pointer;
    }
    input {
        border: none;
        background-color: transparent;
        flex: 3;
        &:Hover {
            border-bottom: lightgrey;
        }
        &:focus { 
            outline: none; 
        }
    }
}

#sketch-container {
    display: flex;
    height: 80vh;
    margin: 0px 40px;
    border: .5px solid black;
    .img {
        margin: auto;
    }
}

//Style form container
#sf-container {
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    // background-color: lightcyan;
    height: 140px;
    #row-1 {
        height: 50px;
        display: flex;
    }
    #row-2 {
        display: flex;
        height: 50px;
    }
    #row-3 {
        display: flex;
        height: 50px;
    }
    label {
        font-size: 11px;
    }
}

#line {
    cursor: pointer;
    margin: 5px 0px;
    width: 200px;
    height: 1px;
    background-color: $orchid;
}

#notes-container{
    position: absolute;
    textarea {
        border: 1px solid $orchid;
        background-color: $orchid-op;
        &:focus { 
            outline: none; 
        }
    }
    div {
        font-size: 12px;
        color: $orchid;
        font-family: roboto;
    }
   
}  
